<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FruitReader</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerhandler</display-name>
    <servlet-name>Registerhandler</servlet-name>
    <servlet-class>Registerhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerhandler</servlet-name>
    <url-pattern>/Registerhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testrome</display-name>
    <servlet-name>testrome</servlet-name>
    <servlet-class>testrome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testrome</servlet-name>
    <url-pattern>/testrome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOPML</display-name>
    <servlet-name>CreateOPML</servlet-name>
    <servlet-class>com.freeder.slt.CreateOPML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOPML</servlet-name>
    <url-pattern>/CreateOPML</url-pattern>
  </servlet-mapping>
</web-app>